<ion-header>

  <ion-navbar>
    <ion-title>{{ 'New Job-Site' | translate }}</ion-title>
    <!-- <ion-buttons (click)="cancel()" end>
      <button ion-button icon-right color="royal">
        Cancel
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons> -->

    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'Cancel' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'Save' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
  
  
<ion-content>
  <!-- <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'ITEM_NAME_PLACEHOLDER' | translate }}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'ITEM_ABOUT_PLACEHOLDER' | translate }}" formControlName="about"></ion-input>
      </ion-item>
    </ion-list>
  </form> -->

  <div *ngIf="!itemSelected">
    <ion-searchbar
      (ionInput)="updateSearch()"
      [(ngModel)]="autocomplete.query"
      [showCancelButton]="true"
      (ionCancel)="dismiss()"
      placeholder="Start typing an address or location"
      >
    </ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of autocompleteItems"
        (click)="chooseItem(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="itemSelected">
    <form [formGroup]="form" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating>{{ 'Job Site Name' | translate }}</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'Address' | translate }}</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'Access code' | translate }}</ion-label>
          <ion-input type="text" formControlName="accessCode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea type="text" placeholder="{{'ex: Beware of dog!' | translate }}" formControlName="notes"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>

  </div>

  <!-- empty div for google maps api -->
  <div id="map"></div>
  <!-- <ion-list> -->

</ion-content>